* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap {
  position: relative;
  width: 100%;
  height: 150vh;
}
.header-wrap {
  position: fixed;
  width: 100%;
  height: 5vh;
  background-color: #333;
  display: flex;
  justify-content: center;
  z-index: 10;
}
.header-wrap header {
  width: 1300px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0, auto;
}
.header-wrap header ul {
  list-style: none;
  display: flex;
}
.header-wrap header .header-left li,
.header-wrap header .header-right li {
  width: 100px;
  height: 30px;
  text-align: center;
  margin: auto 5px;
}
.header-wrap header ul li {
  cursor: pointer;
  opacity: 50%;
}
.header-wrap header .header-left li img {
  width: 80%;
  height: 80%;
}
.header-wrap header .header-left li:nth-child(2) {
  border-left: 0.5px solid white;
  border-right: 0.5px solid white;
}
.header-wrap header .header-right {
  color: white;
  font-size: 13px;
  font-weight: bold;
}
.header-wrap header .header-right li:nth-child(2) {
  border-left: 0.5px solid white;
}

.main-wrap {
  position: relative;
  width: 100%;
  height: 95vh;
  top: 5vh;
}
.main-wrap main {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 8;
}
.main-wrap main .button {
  position: absolute;
  display: flex;
  justify-content: space-between;
  font-size: 100px;
  width: 100%;
  top: 45vh;
  z-index: 10;
  font-size: 100px;
}
.main-wrap main .left,
.main-wrap main .right {
  color: black;
  opacity: 50%;
}
.main-wrap main .left:hover,
.main-wrap main .right:hover {
  opacity: 80%;
  cursor: pointer;
}
.main-wrap main .top-nav-wrap {
  position: absolute;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  z-index: 9;
}
.main-wrap main .top-nav-wrap nav {
  width: 1650px;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.main-wrap main .top-nav-wrap nav .logo {
  width: 100px;
  height: 40px;
  overflow: hidden;
  margin: auto 0;
  text-align: center;
  cursor: default;
}
.main-wrap main .top-nav-wrap nav .logo img {
  position: relative;
  width: 100%;
  top: -1122px;
}
.main-wrap main .top-nav-wrap nav .main-menu ul {
  list-style: none;
  display: flex;
}
.main-wrap main .top-nav-wrap nav .main-menu ul li {
  width: 100px;
  height: 30px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
}
.main-wrap main .top-nav-wrap nav .sub-menu {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 0;
  top: 8vh;
  background-color: white;
}
.main-wrap main .top-nav-wrap nav .sub-menu div {
  margin: 30px;
}
.main-wrap .page .top-nav-wrap nav .sub-menu li {
  list-style: none;
}
.main-wrap main .top-nav-wrap nav .search {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid black;
  height: 30px;
  width: 100px;
  font-size: 14px;
}
.main-wrap main .top-nav-wrap nav .main-menu,
.main-wrap main .top-nav-wrap nav .search {
  text-align: center;
  margin-top: 44px;
}
.main-wrap main .top-nav-wrap nav .searchbar-wrap {
  position: absolute;
  display: none;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0%;
  background-color: white;
}
.main-wrap main .top-nav-wrap nav .searchbar-wrap .searchbar {
  width: 1300px;
  height: 100%;
}
.main-wrap main .top-nav-wrap nav .searchbar-wrap .searchbar input {
  width: 90%;
  height: 100%;
  border: none;
  font-size: 30px;
  font-weight: bold;
  opacity: 50%;
}
.main-wrap main .top-nav-wrap nav .searchbar-wrap .searchbar input:focus {
  outline: none;
}
.main-wrap main .img-wrap {
  position: absolute;
  display: flex;
  height: 100%;
}
.main-wrap main .img-wrap .img {
  position: relative;
  width: 100vw;
  height: 100%;
  background-size: 100% 100%;
}

.main-wrap main .img-wrap .img div,
.main-wrap main .img-wrap .img input {
  position: absolute;
  left: 190px;
}
.main-wrap main .img-wrap .img :nth-child(1) {
  top: 320px;
  font-size: 20px;
}
.main-wrap main .img-wrap .img :nth-child(2) {
  top: 330px;
  font-size: 70px;
  font-weight: bold;
}
.main-wrap main .img-wrap .img :nth-child(3) {
  top: 393px;
  font-size: 70px;
  font-weight: bold;
}
.main-wrap main .img-wrap .img input {
  width: 200px;
  height: 50px;
  border-radius: 0;
  top: 530px;
  background-color: #252a2c;
  border: #252a2c;
  color: #dcfd00;
  z-index: 11;
}
.main-wrap main .img-wrap .img input:hover {
  background-color: #dcfd00;
  color: #252a2c;
  border: 1.5px solid #252a2c;
  cursor: pointer;
}

.footer-wrap {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50vh;
  top: 50vh;
  background-color: #252a2c;
}
.footer-wrap footer .bottom-nav-wrap nav {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  height: 20vh;
  margin-top: 50px;
  border-bottom: 1px solid rgb(255, 255, 255, 50%);
}
.footer-wrap footer .bottom-nav-wrap nav div {
  width: 25%;
  height: 33%;
  color: white;
}
.footer-wrap footer .news-letter-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  height: 15vh;
  margin-top: 10px;
}
.footer-wrap footer .news-letter-wrap div,
.footer-wrap footer .news-letter-wrap input {
  width: 50%;
  height: 45px;
}

.footer-wrap footer .copyright {
  width: 100%;
  height: 5vh;
}
