* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap {
  position: relative;
  height: 150vh;
}
.header-wrap {
  position: fixed;
  width: 100%;
  height: 10vh;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  z-index: 30;
}
header {
  width: 1300px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0, auto;
}
header ul {
  list-style: none;
  display: flex;
}
header .header-left li,
header .header-right li {
  width: 100px;
  height: 30px;
  text-align: center;
  margin: auto 0;
  border: 1px solid black;
  background-color: white;
}
main {
  position: relative;
  height: 90vh;
}
.page {
  position: absolute;
  width: 100%;
  height: 90vh;
  top: 10vh;
  overflow: hidden;
  z-index: 8;
}
.page .button {
  position: absolute;
  display: flex;
  justify-content: space-between;
  font-size: 100px;
  width: 100%;
  top: 42.5vh;
  z-index: 10;
}
.page .left:hover,
.page .right:hover {
  color: white;
  cursor: pointer;
}
.page .nav-wrap {
  position: absolute;
  width: 100%;
  height: 74px;
  top: 45px;
  display: flex;
  justify-content: center;
  z-index: 9;
}
.page .nav-wrap nav {
  width: 1650px;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.page .nav-wrap nav .logo {
  margin: auto 0;
  text-align: center;
}
.page .nav-wrap nav .menu ul {
  list-style: none;
  display: flex;
}
.page .nav-wrap nav .menu ul li {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  background-color: white;
}
.page .nav-wrap nav .logo,
.page .nav-wrap nav .search {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  background-color: white;
}
.page .nav-wrap nav .menu,
.page .nav-wrap nav .search {
  text-align: center;
  margin-top: 53px;
}
.page .img {
  position: absolute;
  display: flex;
  width: 300%;
}
.page .img img {
  width: 100%;
  height: 100vh;
}
footer {
  position: absolute;
  width: 100%;
  height: 50vh;
  top: 50vh;
}
/* @media (min-height: 100vh) {
  footer {
  }
} */
